/*Variables*/

:root {
    --basic-super-extra-dark: #212A3A;
    --basic-extra-dark: #293449;
    --basic-dark: #32425c;
    --basic-extra-dark-gray: #A9A9A9;
    --basic-dark-gray: #B7BFC8;
    --basic-gray: #C5C5C5;
    --basic-light-gray: #E5E5E5;
    --basic-extra-light-gray: #EAEAEA;
    --basic-light: #F1F5F7;
    --basic-extra-light: #F2F6F8;
    --basic-beige: #F7F3EC;
    --basic-light-beige: #F9F5F0;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-light-green: #8ED78F;
    --basic-yellow: #FFBF47;
    --basic-light-yellow: #FFC047;
    --basic-extra-light-yellow: #FFD180;
    --basic-blue: #3BBCE3;
    --basic-violet: #DC91D8;
    --basic-black: #000000;
    --basic-white: #FFFFFF;
    --basic-transparent-white: rgba(255, 255, 255, 0.3);

    --special-red: #BA2732;
    --special-light-red: #CA2C37;
    --special-green: #5FBB2D;
    --special-transparent-white: rgba(255, 255, 255, 0.5);
    --special-transparent-gray: rgb(197, 197, 197, 0.3);
    --special-transparent-dark-gray: rgb(169, 169, 169, 0.3);
    --special-dark: #293449;
    --special-extra-dark: #1D2739;
    --special-gray:  #C5C5C5; 
}

/* Global */

body {
    min-width: 960px;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.navigation {
    background-color: var(--basic-light);
}

.main-header-logo {
    background-color: var(--basic-red);
}

.main-header-logo:active {
    background-color: var(--special-red);
}

.top-navigation {
    background-color: var(--basic-extra-dark);
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.top-navigation a {
    color: var(--basic-white);
}

.bookmarks {
    background-image: url("../img/bookmarks.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.cart {
    background-image: url("../img/cart.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.bookmarks:active,
.cart:active {
    background-color: var(--basic-super-extra-dark);
}

.checkout {
    background-color: var(--basic-green);
}

.checkout:hover {
    background-color: var(--special-green);
}

.checkout:active {
    opacity: 0.5;
}

.main-header-description {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
}

.main-header-phone-number {
    font-style: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
}

.main-header-phone-number {
    font-size: 14px;
    line-height: 24px;
}

.account-link {
    font-size: 21px;
    line-height: 21px; 
    background-color: var(--basic-white); 
    color: var(--basic-black);
}

.account-link:hover {
    color: var(--basic-red);
}

.account-link:active {
    color: var(--special-gray);
}

.main-navigation {
    background-color: var(--basic-dark);
    font-size: 18px;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation a{
    color: var(--basic-white);
}

.main-navigation a:hover {
    background-color:var(--special-dark);
}

.main-navigation a:active {
    background-color:var(--special-extra-dark);
    color: var(--special-transparent-white);
}

.offers-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.offers-item-stuffs {
    background-color: var(--basic-light-yellow);
    background-image: url("../img/stuffs.svg");
}

.offers-item-tools {
    background-color: var(--basic-blue);
    background-image: url("../img/tools.svg");
}

.offers-item-equipment {
    background-color: var(--basic-violet);
    background-image: url("../img/equipment.svg");
}

.offers-item-discount {
    background-color: var(--basic-light-green);
    background-image: url("../img/discount.svg");
}

.offers-item-delivery {
    background-color: var(--basic-yellow);
    background-image: url("../img/delivery.svg");
}

.offers-item p {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
}

.offers-item {
    background-position: right;
    background-repeat: no-repeat;
}

.offers-item a {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-transparent-white);
}

.offers-item a:hover {
    background-color: var(--special-transparent-gray);
}

.offers-item a:active {
    background-color: var(--special-transparent-dark-gray);
}

.offers-slider {
    color: var(--basic-white);
    background-color: var(--basic-black);
    background-image: url("../img/perforators.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.offers-slider-item {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.offers-slider-text {
    font-size: 18px;
    line-height: 24px;
}

.offers-slider-link {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
}

.offers-slider-link:hover {
    background-color: var(--special-light-red);
}

.offers-slider-link:active {
    background-color: var(--special-red);
}

.popular-items-header {
    background-color: var(--basic-light-beige);
    color: var(--basic-dark);
}

.block-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.btn {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
}

.catalog-list {
    list-style: none;
    font-family: "PT Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.catalog-item-name a{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
}

.catalog-item del {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-extra-dark-gray);
    text-transform: uppercase;
}

.catalog-item p {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
}

.popular-brands-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services {
    background-color: var(--basic-light);
}

.services p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.services-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-list .block-title {
    color: var(--basic-dark);
}

.services-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
    background-color: var(--basic-dark);
}

.services-button:hover {
    background-color: var(--basic-extra-dark);
}

.services-button:active {
    color: var(--basic-dark);
    background-color: var(--basic-white);
}

.company p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.site-list {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.main-footer {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    background-color: var(--basic-dark);
}

.footer-logo {
    background-color: var(--basic-red);
}

.footer-contacts a {
    color: var(--basic-white);
}

.footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav-site a {
    color: var(--basic-white);
}

.footer-nav-offers a {
    color: var(--basic-extra-light-yellow);
}

.footer-nav a:hover{
    text-decoration: underline;
}

.footer-nav a:active{
    opacity: 0.5;
    text-decoration: none;
}

.main-footer-bottom {
    font-size: 16px;
    line-height: 18px;
    background-color: var(--basic-extra-dark)
}

.main-footer-bottom-link {
    color: var(--basic-extra-light-yellow);
}

.main-footer-bottom-link:hover {
    text-decoration: underline;
}

.main-footer-bottom-link:active {
    text-decoration: none;
    color: var(--special-)
}

.main-footer-bottom-link:active {
    text-decoration: none;
    color: var(--basic-red);
}

.social-button {
    background-position: center;
    background-repeat: no-repeat;
}

.social-button-vk {
    background-image: url("../img/icon-vk.svg");
}

.social-button-fb {
    background-image: url("../img/icon-fb.svg");
}

.social-button-insta {
    background-image: url("../img/icon-insta.svg");
}

