/*Variables*/

:root {
    --basic-white: #FFFFFF;
    --basic-black: #000000;
    --basic-fitst-color:  #32425c;
    --basic-second-color: #293449;
    --basic-third-color: #EE3643;

    --beige: #F1F5F7;
    --light-beige: #F9F5F0;

    --dark-blue: #1D2739;
    --blue: #212A3A;
    --light-blue: #3BBCE3;

    --gray: #A9A9A9;
    --light-gray: #C5C5C5;

    --light: #E5E5E5;

    --dark-green: #518534;
    --green: #5FBB2D;
    --light-green: #63A63E;
    --extra-light-green: #8ED78F;

    --dark-yellow: #FFBF47;
    --yellow: #FFC047;
    --light-yellow: #FFD180;
    --extra-light-yellow: #FFD180; 

    --purple: #DC91D8;

    --white-opacity30: rgba(255, 255, 255, 0.3);

    --red: #BA2732;
    --light-red: #CA2C37;

    --white-opacity50: rgba(255, 255, 255, 0.5);

    --blue-opacity50: rgba(50, 66, 92, 0.5);

    --light-gray-opacity30: rgb(197, 197, 197, 0.3);

    --gray-opacity30: rgb(169, 169, 169, 0.3);
}

/* Global */

body {
    min-width: 960px;
    font-family: "Cuprum", Arial, sans-serif;
    background-color: var(--basic-white);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* index */

.navigation {
    background-color: var(--beige);
}

.main-header-logo {
    background-color: var(--basic-third-color);
}

.main-header-logo:active {
    background-color: var(--red);
}

.top-navigation {
    background-color: var(--basic-second-color);
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
}

.top-navigation a {
    color: var(--top-navigation-text-color);
}

.bookmarks {
    background-image: url("../img/bookmarks.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.cart {
    background-image: url("../img/cart.svg");
    background-position: left;
    background-repeat: no-repeat;
}

.bookmarks:active,
.cart:active {
    background-color: var(--blue);
}

.checkout {
    background-color: var(--light-green);
}

.checkout:hover {
    background-color: var(--green);
}

.checkout:active {
    opacity: 0.5;
}

.main-header-description {
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-third-color);
}

.main-header-phone {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-third-color);
    border: 3px solid var(--basic-white)
}

.account-link {
    font-size: 21px;
    line-height: 21px; 
    background-color: var(--basic-white); 
    color: var(--basic-black);
}

.account-link:hover {
    color: var(--basic-third-color);
}

.account-link:active {
    color: var(--light-gray);
}

.main-navigation {
    background-color: var(--basic-fitst-color);
    font-size: 18px;
    line-height: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation a{
    color: var(--basic-white);
}

.main-navigation a:hover {
    background-color:var(--basic-second-color);
}

.main-navigation a:active {
    background-color:var(--dark-blue);
    color: var(--white-opacity50);
}

.offers-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.offers-item p {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
}

.offers-item {
    background-position: right;
    background-repeat: no-repeat;
}

.offers-item a {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--white-opacity30);
}

.offers-item a:hover {
    background-color: var(--light-gray-opacity30);
}

.offers-item a:active {
    background-color: var(--gray-opacity30);
}

.offers-item-stuffs {
    background-color: var(--yellow);
    background-image: url("../img/stuffs.svg");
}

.offers-item-tools {
    background-color: var(--light-blue);
    background-image: url("../img/tools.svg");
}

.offers-item-equipment {
    background-color: var(--purple);
    background-image: url("../img/equipment.svg");
}

.offers-item-discount {
    background-color: var(--extra-light-green);
    background-image: url("../img/discount.svg");
}

.offers-item-delivery {
    background-color: var(--dark-yellow);
    background-image: url("../img/delivery.svg");
}

.offers-slider {
    color: var(--basic-white);
    background-color: var(--basic-black);
    background-image: url("../img/perforators.png");
    background-position: top center;
    background-repeat: no-repeat;
}

.offers-slider-item {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
}

.offers-slider-text {
    font-size: 18px;
    line-height: 24px;
}

.offers-slider-link {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-third-color);
}

.offers-slider-link:hover {
    background-color: var(--light-red);
}

.offers-slider-link:active {
    background-color: var(--red);
}

.popular-items-header {
    background-color: var(--light-beige);
    color: var(--basic-fitst-color);
}

.block-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.btn {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-third-color);
    box-sizing: border-box;
}

.catalog {
    font-family: "PT Sans", Arial, sans-serif;
}

.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-item-name a{
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: var(--basic-black);
}

.catalog-item-old-price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--gray);
    text-transform: uppercase;
}

.catalog-item-price {
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-third-color);
}

.popular-brands-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services {
    background-color: var(--beige);
}

.services p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.services-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.services-list {
    color: var(--basic-fitst-color);
}

.block-title {
    color: var(--basic-fitst-color);
}

.services-button {
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
    background-color: var(--basic-fitst-color);
}

.services-button:hover {
    background-color: var(--basic-second-color);
}

.services-button:active {
    color: var(--basic-fitst-color);
    background-color: var(--basic-white);
}

.company p {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
}

.site-list {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.main-footer {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-white);
    background-color: var(--basic-fitst-color);
}

.footer-logo {
    background-color: var(--basic-third-color);
}

.footer-contacts a {
    color: var(--basic-white);
}

.footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-nav-site a {
    color: var(--basic-white);
}

.footer-nav-offers a {
    color: var(--light-yellow);
}

.footer-nav a:hover{
    text-decoration: underline;
}

.footer-nav a:active{
    opacity: 0.5;
    text-decoration: none;
}

.main-footer-bottom {
    font-size: 16px;
    line-height: 18px;
    background-color: var(--basic-second-color)
}

.main-footer-bottom-link {
    color: var(--extra-light-yellow);
}

.main-footer-bottom-link:hover {
    text-decoration: underline;
}

.main-footer-bottom-link:active {
    text-decoration: none;
    color: var(--special-)
}

.main-footer-bottom-link:active {
    text-decoration: none;
    color: var(--basic-third-color);
}

.social-button {
    background-position: center;
    background-repeat: no-repeat;
}

.social-button-vk {
    background-image: url("../img/icon-vk.svg");
}

.social-button-fb {
    background-image: url("../img/icon-fb.svg");
}

.social-button-insta {
    background-image: url("../img/icon-insta.svg");
}

/* catalog style */

.account-link-profile {
    font-size: 21px;
    line-height: 21px; 
    background-color: var(--basic-white); 
    color: var(--basic-black);
}

.account-link-profile:active {
    color: var(--light-gray);
}

.account-nav {
    list-style: none;
}

.account-nav:hover a {
    color: var(--basic-third-color);
}

.account-nav:active a {
    opacity: 0.5;
    color: var(--basic-black);
}

.account-nav a {
    font-size: 16px;
    line-height: 18px; 
    color: var(--basic-black);
}

.breadcrumbs {
    list-style: none;
    font-family: PT Sans;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.breadcrumbs-item {
    color: var(--basic-black);
}

.catalog-title {
    background-color: var(--beige);
}

.catalog-sort {
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-sort-list {
    list-style: none;
    margin: 0;
    padding: 0;  
}

.catalog-sort-list a {
    color: var(--basic-black);
    opacity: 0.3;
}

.catalog-item-checkout-btn {
    background-color: var(--light-green);
    background-image: url("../img/cart.svg");
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: inset 0px -3px 0px #367315;
    border-radius: 2px;
}

.catalog-item-checkout-btn:hover {
    background-color: var(--green);
}

.catalog-item-checkout-btn:active {
    background-color: var(--dark-green);
}

.catalog-item-to-bookmakrs-btn {
    background-color: var(--basic-white);
    color: var(--basic-black);
    border: 3px solid var(--light-green);
    border-radius: 2px;
}

.catalog-item-to-bookmakrs-btn:hover {
    border-color: var(--basic-fitst-color);
}

.catalog-item-to-bookmakrs-btn:active {
    border-color: var(--blue-opacity50);
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0; 
    font-size: 13px;
    line-height: 18px; 
    text-transform: uppercase;
}

.pagination-item {
    color: var(--basic-black);
    border: 1px solid var(--light);
    box-sizing: border-box;
    border-radius: 2px;
}

.pagination-item-current {
    background-color: var(--basic-third-color);
    border: 0;
}

.about-item {
    background-color: var(--beige);
    font-size: 13px;
    line-height: 24px;
}